/* src/styles/custom.css */

@keyframes marquee-left-to-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes marquee-right-to-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee-left-to-right {
    animation: marquee-left-to-right 20s linear infinite;
  }
  
  .animate-marquee-right-to-left {
    animation: marquee-right-to-left 20s linear infinite;
  }
  
  .marquee-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .marquee-inner {
    display: flex;
    flex: 1;
    min-width: 100%;
  }
  